<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register new user</title>
</head>
<style>
  #register_form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .login_item{
    margin-bottom: 10px;
  }


</style>
<body>
<div id="register_form">
  <form method="post" th:action="@{/login/register}" th:object="${loginForm}">
    <input class="login_item" type="text" placeholder="enter username" th:field="*{username}">
    <br>
    <input class="login_item" type="password" placeholder="password" th:field="*{password}">
    <br>
    <input class="login_item" type="submit" value="register">
  </form>
  <form method="get" th:action="@{/login}">
    <input class="back_button" type="submit" value="back">
  </form>
</div>

</body>
</html>